.title{
background-image: url("https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/150/150670/malaria-is-passed-on-by-the-anopheles-mosquito.jpg?w=1155&h=1642");
    background-position: center;
}

h1.title{
  font-size: 120px;
}
